@font-face {
  font-family: "Munsteria";
  src: url("../fonts/Munsteria.ttf");
}
@font-face {
  font-family: "PartyKids";
  src: url("../fonts/Party\ Kids.ttf");
}
@font-face {
  font-family: "BigShoutBob";
  src: url("../fonts/Big\ Shout\ Bob.ttf");
}
@font-face {
  font-family: "Baloo";
  src: url("../fonts/BalooThambi-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  background: url("../images/falt-comic-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
}
.v1_3 {
  width: 100%;
  background: rgba(235, 244, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v3_5 {
  width: 100%;
  height: 3198px;
  background: url("../images/v3_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_6 {
  width: 100%;
  height: 774px;
  background: url("../images/v4_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_7 {
  width: 100%;
  height: 499px;
  background: url("../images/v4_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  overflow: hidden;
}
.v3_4 {
  width: 928px;
  color: url("../images/v3_4.png");
  position: absolute;
  top: 0px;
  left: 232px;
  opacity: 1;
  text-align: center;
  font-family: "ParyKids";
  font-weight: 800;
  font-size: 150px;
}
.v3_4_1 {
  width: 928px;
  color: url("../images/v3_4.png");
  position: absolute;
  top: 0px;
  left: 232px;
  opacity: 1;
  text-align: center;
  font-weight: 800;
  font-family: "Munsteria";
  font-size: 150px;
}
.v7_23 {
  width: 100%;
  height: 772px;
  background: url("../images/v7_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 684px;
  left: 4px;
  overflow: hidden;
}
.v6_2 {
  width: 100%;
  height: auto;
  background: url("../images/v6_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  min-height: 800px;
}
.v7_22 {
  width: 100%;
  height: 669px;
  background: url("../images/v7_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 108px;
  overflow: hidden;
}
.v7_5 {
  width: 100%;
  height: 201px;
  background: url("../images/v7_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_3 {
  width: 100%;
  height: 170px;
  background: url("../images/v6_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v7_6 {
  width: 329px;
  color: rgba(255, 229, 0, 1);
  position: absolute;
  top: 10px;
  left: 184px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_7 {
  width: 137px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 845px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_4 {
  width: 184px;
  height: 185px;
  background: url("../images/v7_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 26px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v7_12 {
  width: 100%;
  height: 201px;
  background: url("../images/v7_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 0px;
  overflow: hidden;
}
.v7_13 {
  width: 100%;
  height: 170px;
  background: url("../images/v7_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v7_14 {
  width: 332px;
  color: rgba(255, 229, 0, 1);
  position: absolute;
  top: 10px;
  left: 182px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_15 {
  width: 166px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 830px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_16 {
  width: 184px;
  height: 185px;
  background: url("../images/v7_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 26px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v7_17 {
  width: 100%;
  height: 201px;
  background: url("../images/v7_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 0px;
  overflow: hidden;
}
.v7_18 {
  width: 100%;
  height: 170px;
  background: url("../images/v7_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v7_19 {
  width: 332px;
  color: rgba(255, 229, 0, 1);
  position: absolute;
  top: 10px;
  left: 182px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_20 {
  width: 166px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 830px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_21 {
  width: 184px;
  height: 185px;
  background: url("../images/v7_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 26px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v7_24 {
  width: 100%;
  height: 772px;
  background: url("../images/v7_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1506px;
  left: 6px;
  overflow: hidden;
}
.v7_25 {
  width: 100%;
  height: 772px;
  background: url("../images/v7_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_26 {
  width: 100%;
  height: 669px;
  background: url("../images/v7_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 108px;
  overflow: hidden;
}
.v7_27 {
  width: 100%;
  height: 201px;
  background: url("../images/v7_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_28 {
  width: 100%;
  height: 170px;
  background: url("../images/v7_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v7_29 {
  width: 334px;
  color: rgba(255, 229, 0, 1);
  position: absolute;
  top: 10px;
  left: 181px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_30 {
  width: 137px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 845px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_31 {
  width: 184px;
  height: 185px;
  background: url("../images/v7_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 26px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v7_32 {
  width: 100%;
  height: 201px;
  background: url("../images/v7_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 0px;
  overflow: hidden;
}
.v7_33 {
  width: 100%;
  height: 170px;
  background: url("../images/v7_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v7_34 {
  width: 334px;
  color: rgba(255, 229, 0, 1);
  position: absolute;
  top: 10px;
  left: 181px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_35 {
  width: 166px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 830px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_36 {
  width: 184px;
  height: 185px;
  background: url("../images/v7_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 26px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v7_37 {
  width: 100%;
  height: 201px;
  background: url("../images/v7_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 0px;
  overflow: hidden;
}
.v7_38 {
  width: 100%;
  height: 170px;
  background: url("../images/v7_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v7_39 {
  width: 332px;
  color: rgba(255, 229, 0, 1);
  position: absolute;
  top: 10px;
  left: 182px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_40 {
  width: 166px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 830px;
  font-family: Party Kids;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v7_41 {
  width: 184px;
  height: 185px;
  background: url("../images/v7_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 26px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}

/* MY STYLES  */

.top-sec {
  width: 100%;
  height: 700px;
  background: url("../images/top-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mid-sec {
  width: 100%;
  /* position: absolute; */
  top: 75%;
  left: 50%;
  padding: 0px 20px;
  /* transform: translate(-50%, -50%); */
  min-height: 800px;
  z-index: 1000;
}

.chalk-board {
  position: relative;
  /* left: 0px; */
  /* right: 0px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.chalk-board-imgb {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.chalk-board-img {
  width: 100%;
}
.chalk-bg {
  width: 100%;
  min-height: 540px;
  background: url("../images/chalkboard-stationery.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.chalk-board-item {
  width: 100%;
  height: 160px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 130px;
}
.chalk-board-btxt {
  font-size: 40px;
  font-family: "Baloo";
  color: #ffe500;
  max-width: 45%;
}
.chalk-board-stxt {
  font-size: 100px;
  font-family: "PartyKids";
  color: #ffffff;
}
.chalk-board-box {
  position: absolute;
  top: 30px;
  left: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chalk-bg-sec {
  margin-top: 50px;
  position: relative;
}
.mid-sec-cont {
  position: absolute;
  height: calc(100% + 40%);
  top: 600px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url("../images/falt-comic-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.mid-sec-title {
  width: 100%;
  font-size: 70px;
  font-family: "PartyKids";
  padding: 10px 20px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: 35%; */
  /* left: 0; */
  /* right: 0px; */
}
.winn-flexb {
  display: flex;
  flex-direction: row;
  gap: 15px;
  row-gap: 25px;
  padding: 20px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.winn-fitem {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.winn-itxt {
  font-size: 35px;
  font-family: "PartyKids";
}
.winn-btxt {
  font-size: 70px;
  font-family: "Baloo";
  color: #ffffff;
  position: relative;
  text-align: center;
}
.winn-rtxt {
  font-size: 60px;
  font-family: "Baloo";
  color: #ffffff;
  position: relative;
  text-align: center;
}
.winn-stxt {
  font-size: 70px;
  font-family: "PartyKids";
}
.winn-s2txt {
  margin: 10px 0px;
  font-size: 50px;
  font-family: "PartyKids";
}
.nxt-sec {
  width: 100%;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  top: 75%;
  left: 50%;
  padding: 20px;
  /* min-height: 800px; */
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.winn-symb {
  font-size: 50px;
  font-family: "PartyKids";
}
.memb-imgb {
  width: 100%;
  height: auto;
}
.memb-img {
  width: 100%;
  height: 100%;
}
.winn-cup-img {
  width: 100%;
  height: 210px;
  object-fit: fill;
  border-radius: 100px;
  /* position: absolute; */
  /* top: 0; */
  right: 0;
}
.winn-cup-img2 {
  left: 0px;
}
.separator {
  width: 100%;
}
.sep {
  width: 100%;
}
.winn-cup-img2{
  width: 200px;
  height: 100px;
}